<div class="bg-secondary rounded m-4">
  <h1 class="article-detail-title"><%= @article.title %></h1>
  <%= @article.created_at.strftime("%b %d %Y") %>
  <p class="article-body"><%= @article.body %></p>
  <small>Created by: <%= @article.user.email %></small>
</div>
<%= link_to "Back", articles_path, class: "btn btn-default btn-lg" %>
<%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-default btn-lg" %>
<%= link_to "Delete Article", article_path(@article), method: "DELETE", data: { confirm: "Are you sure you want to delete the article?"}, class: "btn btn-default btn-lg" %>